nav {
    background-color: grey;
}
nav a {
    color: white;
}
#dontpanic {
    outline-style: dotted;
}
table {
    outline-style: double;
}
nav a:hover {
    background-color: white;
    color: black;
}